
body {
    
    background-color:#202020;
}
article {
    height: 50px;
    background-color: black;
    display: flex;
    width: 80%;
    justify-content: center;
    height: 100vh;
    margin:  auto;
    padding: 30px;
}
div.icon {
    color: #F9FF00;
    font-size: 5em;
    margin: 0 10px;
}
span {
    color: #202020;
    font-size: 4em;
    height: 10vh;
}
span:hover {
    color: rgb(197, 21, 51);
}
span:hover ~ span {
    color: white;
} 
span:hover + span {
    color: pink;
}
